@model IEnumerable<RestfulApi.Models.Repos>

@{
    ViewBag.Title = "Github";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <h3>
        @Html.ActionLink(item.name, "GitHubProject", new { userName = ViewBag.GithubUser, projectName = item.name })
    </h3>
    <p>@item.description</p>
    @Html.ActionLink("Project Images", "GitHubImages", new { projectName = item.name })
}

